//
// Widget 26
//



 
.kt-widget26 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .kt-widget26__content {
        display: flex;         
        padding-left: 29.25px;
        padding-bottom: 1rem;    
        margin-top: 20px;  
        flex-grow: 1;     
        display: flex;
        flex-direction: column;

        .kt-widget26__number {
            // font-size: 1.8rem;
            font-weight: 600;
            font-size: 1.275rem;
            color: #181C32 !important;
        } 

        .kt-widget26__desc {
            color: kt-base-color(label, 2);
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 0.55rem;
        }                           
    }   

    .kt-widget26__chart {
        position: relative;
        color: #7E8299;

        canvas {
            border-bottom-left-radius: $kt-border-radius;
            border-bottom-right-radius: $kt-border-radius;
        }
    }
}  